@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #243e63;
    font-family: "inter", sans-serif;
}

a {
    display: inline;
    text-decoration: none;
}

img {
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 0 32px;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

/* 

NAVIGATION BAR

*/

nav {
    padding-top: 32px;
    display: flex;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: .6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: .35px;
    margin: 0 24px;
    position: relative;
}

.nav__link:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    opacity: 0;
    transition: all 300ms ease;
}

.nav__link:hover::after {
    opacity: 1;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
}

.nav__link--primary:hover {
    background-color: rgba(80, 17, 204);
}

/* 

HEADER

*/

header .row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.header__img--wrapper {
    width: 60%;
}